In [1]:
import os

import pandas as pd

# Specify the directory containing the JSON files
directory = './BitcoinData/'

# Initialize an empty list to store the dataframes
dataframes = []

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.json'):  # Process only JSON files
        file_path = os.path.join(directory, filename)

        # Read the JSON file into a DataFrame
        df = pd.read_json(file_path)

        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the combined DataFrame
print(combined_df)

                   0        1        2        3        4         5   \
0       1567965300000  10000.0  10000.0  10000.0  10000.0     0.002
1       1567965600000  10000.0  10000.0  10000.0  10000.0     0.000
2       1567965900000  10000.0  10000.0  10000.0  10000.0     0.000
3       1567966200000  10000.0  10000.0  10000.0  10000.0     0.000
4       1567966500000  10000.0  10000.0  10000.0  10000.0     0.000
...               ...      ...      ...      ...      ...       ...
539094  1729613400000  67143.8  67225.2  67130.0  67196.0   639.736
539095  1729613700000  67196.0  67212.0  67023.5  67044.8   496.755
539096  1729614000000  67044.9  67079.3  66931.2  67028.9  1505.455
539097  1729614300000  67028.9  67036.7  66935.1  66994.0   527.679
539098  1729614600000  66994.0  67105.7  66982.0  67082.5   776.263

                   6             7      8        9             10  11
0       1567965599999  2.000000e+01      2    0.001  1.000000e+01   0
1       1567965899999  0.000000e+00      0    0.000  0.000000e+00   0
2       1567966199999  0.000000e+00      0    0.000  0.000000e+00   0
3       1567966499999  0.000000e+00      0    0.000  0.000000e+00   0
4       1567966799999  0.000000e+00      0    0.000  0.000000e+00   0
...               ...           ...    ...      ...           ...  ..
539094  1729613699999  4.298857e+07  10027  467.337  3.140296e+07   0
539095  1729613999999  3.333981e+07   8572  177.598  1.192213e+07   0
539096  1729614299999  1.008744e+08  18907  770.768  5.164896e+07   0
539097  1729614599999  3.534445e+07  11675  283.308  1.897595e+07   0
539098  1729614899999  5.204460e+07  10560  526.101  3.527294e+07   0

[539099 rows x 12 columns]

In [2]:
columns = [
    'Open Time',  # Timestamp for when the candlestick opened
    'Open Price',  # Price when the candlestick opened
    'High Price',  # Highest price during the interval
    'Low Price',  # Lowest price during the interval
    'Close Price',  # Price when the candlestick closed
    'Volume',  # Volume traded during the interval
    'Close Time',  # Timestamp for when the candlestick closed
    'Quote Asset Volume',  # Quote asset volume (e.g., USDT)
    'Number of Trades',  # Number of trades during the interval
    'Taker Buy Base Volume',  # Volume of the base asset (e.g., BTC) bought by takers
    'Taker Buy Quote Volume',  # Quote asset (e.g., USDT) spent by takers
    'Ignore'  # Ignored column (always 0)
]

# Assign these columns to your DataFrame
combined_df.columns = columns

# Optionally, if you want to convert the timestamps to human-readable format
combined_df['Open Time'] = pd.to_datetime(combined_df['Open Time'], unit='ms')
combined_df['Close Time'] = pd.to_datetime(combined_df['Close Time'], unit='ms')

In [3]:
combined_df

,Open Time,Open Price,High Price,Low Price,Close Price,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker Buy Base Volume,Taker Buy Quote Volume,Ignore
0,2019-09-08 17:55:00,10000.0,10000.0,10000.0,10000.0,0.002,2019-09-08 17:59:59.999,2.000000e+01,2,0.001,1.000000e+01,0
1,2019-09-08 18:00:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:04:59.999,0.000000e+00,0,0.000,0.000000e+00,0
2,2019-09-08 18:05:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:09:59.999,0.000000e+00,0,0.000,0.000000e+00,0
3,2019-09-08 18:10:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:14:59.999,0.000000e+00,0,0.000,0.000000e+00,0
4,2019-09-08 18:15:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:19:59.999,0.000000e+00,0,0.000,0.000000e+00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
539094,2024-10-22 16:10:00,67143.8,67225.2,67130.0,67196.0,639.736,2024-10-22 16:14:59.999,4.298857e+07,10027,467.337,3.140296e+07,0
539095,2024-10-22 16:15:00,67196.0,67212.0,67023.5,67044.8,496.755,2024-10-22 16:19:59.999,3.333981e+07,8572,177.598,1.192213e+07,0
539096,2024-10-22 16:20:00,67044.9,67079.3,66931.2,67028.9,1505.455,2024-10-22 16:24:59.999,1.008744e+08,18907,770.768,5.164896e+07,0
539097,2024-10-22 16:25:00,67028.9,67036.7,66935.1,66994.0,527.679,2024-10-22 16:29:59.999,3.534445e+07,11675,283.308,1.897595e+07,0
539098,2024-10-22 16:30:00,66994.0,67105.7,66982.0,67082.5,776.263,2024-10-22 16:34:59.999,5.204460e+07,10560,526.101,3.527294e+07,0

# otwarie w pon o polnocy; cena o 15.30 i zamkniecie tygodniowej

In [4]:
combined_df['Day'] = combined_df['Open Time'].dt.day_name()

In [5]:
combined_df

,Open Time,Open Price,High Price,Low Price,Close Price,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker Buy Base Volume,Taker Buy Quote Volume,Ignore,Day
0,2019-09-08 17:55:00,10000.0,10000.0,10000.0,10000.0,0.002,2019-09-08 17:59:59.999,2.000000e+01,2,0.001,1.000000e+01,0,Sunday
1,2019-09-08 18:00:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:04:59.999,0.000000e+00,0,0.000,0.000000e+00,0,Sunday
2,2019-09-08 18:05:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:09:59.999,0.000000e+00,0,0.000,0.000000e+00,0,Sunday
3,2019-09-08 18:10:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:14:59.999,0.000000e+00,0,0.000,0.000000e+00,0,Sunday
4,2019-09-08 18:15:00,10000.0,10000.0,10000.0,10000.0,0.000,2019-09-08 18:19:59.999,0.000000e+00,0,0.000,0.000000e+00,0,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539094,2024-10-22 16:10:00,67143.8,67225.2,67130.0,67196.0,639.736,2024-10-22 16:14:59.999,4.298857e+07,10027,467.337,3.140296e+07,0,Tuesday
539095,2024-10-22 16:15:00,67196.0,67212.0,67023.5,67044.8,496.755,2024-10-22 16:19:59.999,3.333981e+07,8572,177.598,1.192213e+07,0,Tuesday
539096,2024-10-22 16:20:00,67044.9,67079.3,66931.2,67028.9,1505.455,2024-10-22 16:24:59.999,1.008744e+08,18907,770.768,5.164896e+07,0,Tuesday
539097,2024-10-22 16:25:00,67028.9,67036.7,66935.1,66994.0,527.679,2024-10-22 16:29:59.999,3.534445e+07,11675,283.308,1.897595e+07,0,Tuesday
539098,2024-10-22 16:30:00,66994.0,67105.7,66982.0,67082.5,776.263,2024-10-22 16:34:59.999,5.204460e+07,10560,526.101,3.527294e+07,0,Tuesday

In [6]:
df = combined_df
import pandas as pd

# Assuming your DataFrame 'df' already has 'Open Time' in datetime format, and 'Day Name' and 'Time' columns
df['Day Name'] = df['Open Time'].dt.day_name()
df['Time'] = df['Open Time'].dt.time

# Group data by each week
df['Week'] = df['Open Time'].dt.isocalendar().week
df['Year'] = df['Open Time'].dt.isocalendar().year

# Initialize counters for all conditions
total_weeks = 0
monday_up_weekly_down = 0
monday_down_weekly_up = 0
monday_up_weekly_up = 0
monday_down_weekly_down = 0

# Loop through each unique year and week
for (year, week), week_data in df.groupby(['Year', 'Week']):
    # Filter for Monday 00:00
    monday_open = week_data[
        (week_data['Day Name'] == 'Monday') & (week_data['Time'] == pd.to_datetime("00:00:00").time())]

    # Filter for Monday 15:30
    monday_1530 = week_data[
        (week_data['Day Name'] == 'Monday') & (week_data['Time'] == pd.to_datetime("15:30:00").time())]

    # Filter for the weekly close (last entry on Sunday)
    sunday_close = week_data[week_data['Day Name'] == 'Sunday'].iloc[-1] if not week_data[
        week_data['Day Name'] == 'Sunday'].empty else None

    # Ensure we have data for Monday 00:00, Monday 15:30, and Sunday
    if not monday_open.empty and not monday_1530.empty and sunday_close is not None:
        # Get the prices
        monday_open_price = monday_open['Open Price'].values[0]
        monday_1530_price = monday_1530['Close Price'].values[0]
        weekly_close_price = sunday_close['Close Price']

        # Check if price increased or decreased from Monday 00:00 to 15:30
        price_increased = monday_1530_price > monday_open_price
        price_decreased = monday_1530_price < monday_open_price

        # Check if weekly close is higher or lower than Monday 15:30 price
        weekly_close_up = weekly_close_price > monday_1530_price
        weekly_close_down = weekly_close_price < monday_1530_price

        # Condition 1: Monday Price Up & Weekly Down
        if price_increased and weekly_close_down:
            monday_up_weekly_down += 1

        # Condition 2: Monday Price Down & Weekly Up
        if price_decreased and weekly_close_up:
            monday_down_weekly_up += 1

        # Condition 3: Monday Price Up & Weekly Up
        if price_increased and weekly_close_up:
            monday_up_weekly_up += 1

        # Condition 4: Monday Price Down & Weekly Down
        if price_decreased and weekly_close_down:
            monday_down_weekly_down += 1

        # Count the total number of weeks
        total_weeks += 1

# Calculate percentages for each condition
if total_weeks > 0:
    monday_up_weekly_down_percentage = (monday_up_weekly_down / total_weeks) * 100
    monday_down_weekly_up_percentage = (monday_down_weekly_up / total_weeks) * 100
    monday_up_weekly_up_percentage = (monday_up_weekly_up / total_weeks) * 100
    monday_down_weekly_down_percentage = (monday_down_weekly_down / total_weeks) * 100
else:
    monday_up_weekly_down_percentage = monday_down_weekly_up_percentage = monday_up_weekly_up_percentage = monday_down_weekly_down_percentage = 0

# Print the results
print(f"Total weeks analyzed: {total_weeks}")
print(f"Monday Up & Weekly Down: {monday_up_weekly_down} weeks ({monday_up_weekly_down_percentage:.2f}%)")
print(f"Monday Down & Weekly Up: {monday_down_weekly_up} weeks ({monday_down_weekly_up_percentage:.2f}%)")
print(f"Monday Up & Weekly Up: {monday_up_weekly_up} weeks ({monday_up_weekly_up_percentage:.2f}%)")
print(f"Monday Down & Weekly Down: {monday_down_weekly_down} weeks ({monday_down_weekly_down_percentage:.2f}%)")

Total weeks analyzed: 267
Monday Up & Weekly Down: 62 weeks (23.22%)
Monday Down & Weekly Up: 75 weeks (28.09%)
Monday Up & Weekly Up: 68 weeks (25.47%)
Monday Down & Weekly Down: 62 weeks (23.22%)

In [7]:
monday_up_weekly_down_chance = monday_up_weekly_down / (monday_up_weekly_down + monday_up_weekly_up)
monday_up_weekly_up_chance = monday_up_weekly_up / (monday_up_weekly_down + monday_up_weekly_up)
monday_down_weekly_down_chance = monday_down_weekly_down / (monday_down_weekly_down + monday_down_weekly_up)
monday_down_weekly_up_chance = monday_down_weekly_up / (monday_down_weekly_down + monday_down_weekly_up)

print(f"Chance of Monday Up & Weekly Down: {monday_up_weekly_down_chance:.2f}")
print(f"Chance of Monday Up & Weekly Up: {monday_up_weekly_up_chance:.2f}")
print(f"Chance of Monday Down & Weekly Down: {monday_down_weekly_down_chance:.2f}")
print(f"Chance of Monday Down & Weekly Up: {monday_down_weekly_up_chance:.2f}")

Chance of Monday Up & Weekly Down: 0.48
Chance of Monday Up & Weekly Up: 0.52
Chance of Monday Down & Weekly Down: 0.45
Chance of Monday Down & Weekly Up: 0.55

In [8]:
import pandas as pd

# Assuming your DataFrame 'df' already has 'Open Time' in datetime format, and 'Day Name' and 'Time' columns
df['Day Name'] = df['Open Time'].dt.day_name()
df['Time'] = df['Open Time'].dt.time

# Group data by each week
df['Week'] = df['Open Time'].dt.isocalendar().week
df['Year'] = df['Open Time'].dt.isocalendar().year

# Initialize counters for all conditions
total_weeks = 0
monday_up_weekly_down = 0
monday_down_weekly_up = 0
monday_up_weekly_up = 0
monday_down_weekly_down = 0

# Loop through each unique year and week
for (year, week), week_data in df.groupby(['Year', 'Week']):
    # Filter for Monday 00:00
    monday_open = week_data[
        (week_data['Day Name'] == 'Monday') & (week_data['Time'] == pd.to_datetime("00:00:00").time())]

    # Filter for Monday 23:55
    monday_2355 = week_data[
        (week_data['Day Name'] == 'Monday') & (week_data['Time'] == pd.to_datetime("23:55:00").time())]

    # Filter for the weekly close (last entry on Sunday)
    sunday_close = week_data[week_data['Day Name'] == 'Sunday'].iloc[-1] if not week_data[
        week_data['Day Name'] == 'Sunday'].empty else None

    # Ensure we have data for Monday 00:00, Monday 23:55, and Sunday
    if not monday_open.empty and not monday_2355.empty and sunday_close is not None:
        # Get the prices
        monday_open_price = monday_open['Open Price'].values[0]
        monday_2355_price = monday_2355['Close Price'].values[0]
        weekly_close_price = sunday_close['Close Price']

        # Check if price increased or decreased from Monday 00:00 to 15:30
        price_increased = monday_2355_price > monday_open_price
        price_decreased = monday_2355_price < monday_open_price

        # Check if weekly close is higher or lower than Monday 15:30 price
        weekly_close_up = weekly_close_price > monday_2355_price
        weekly_close_down = weekly_close_price < monday_2355_price

        # Condition 1: Monday Price Up & Weekly Down
        if price_increased and weekly_close_down:
            monday_up_weekly_down += 1

        # Condition 2: Monday Price Down & Weekly Up
        if price_decreased and weekly_close_up:
            monday_down_weekly_up += 1

        # Condition 3: Monday Price Up & Weekly Up
        if price_increased and weekly_close_up:
            monday_up_weekly_up += 1

        # Condition 4: Monday Price Down & Weekly Down
        if price_decreased and weekly_close_down:
            monday_down_weekly_down += 1

        # Count the total number of weeks
        total_weeks += 1

# Calculate percentages for each condition
if total_weeks > 0:
    monday_up_weekly_down_percentage = (monday_up_weekly_down / total_weeks) * 100
    monday_down_weekly_up_percentage = (monday_down_weekly_up / total_weeks) * 100
    monday_up_weekly_up_percentage = (monday_up_weekly_up / total_weeks) * 100
    monday_down_weekly_down_percentage = (monday_down_weekly_down / total_weeks) * 100
else:
    monday_up_weekly_down_percentage = monday_down_weekly_up_percentage = monday_up_weekly_up_percentage = monday_down_weekly_down_percentage = 0

# Print the results
print(f"Total weeks analyzed: {total_weeks}")
print(f"Monday Up & Weekly Down: {monday_up_weekly_down} weeks ({monday_up_weekly_down_percentage:.2f}%)")
print(f"Monday Down & Weekly Up: {monday_down_weekly_up} weeks ({monday_down_weekly_up_percentage:.2f}%)")
print(f"Monday Up & Weekly Up: {monday_up_weekly_up} weeks ({monday_up_weekly_up_percentage:.2f}%)")
print(f"Monday Down & Weekly Down: {monday_down_weekly_down} weeks ({monday_down_weekly_down_percentage:.2f}%)")

Total weeks analyzed: 267
Monday Up & Weekly Down: 68 weeks (25.47%)
Monday Down & Weekly Up: 81 weeks (30.34%)
Monday Up & Weekly Up: 66 weeks (24.72%)
Monday Down & Weekly Down: 52 weeks (19.48%)

In [9]:
monday_up_weekly_down_chance = monday_up_weekly_down / (monday_up_weekly_down + monday_up_weekly_up)
monday_up_weekly_up_chance = monday_up_weekly_up / (monday_up_weekly_down + monday_up_weekly_up)
monday_down_weekly_down_chance = monday_down_weekly_down / (monday_down_weekly_down + monday_down_weekly_up)
monday_down_weekly_up_chance = monday_down_weekly_up / (monday_down_weekly_down + monday_down_weekly_up)

print(f"Chance of Monday Up & Weekly Down: {monday_up_weekly_down_chance:.2f}")
print(f"Chance of Monday Up & Weekly Up: {monday_up_weekly_up_chance:.2f}")
print(f"Chance of Monday Down & Weekly Down: {monday_down_weekly_down_chance:.2f}")
print(f"Chance of Monday Down & Weekly Up: {monday_down_weekly_up_chance:.2f}")

Chance of Monday Up & Weekly Down: 0.51
Chance of Monday Up & Weekly Up: 0.49
Chance of Monday Down & Weekly Down: 0.39
Chance of Monday Down & Weekly Up: 0.61